<router-outlet></router-outlet>>


<br>
   
    <br>

        <div id="conteneur">
            
            <mat-tab-group dynamicHeight>
   
                <mat-tab label="ENTREPRISE">
                  <div class="example-large-box mat-elevation-z4">
                    Large content Large content Large content Large content Large content Large content 
                    Large content Large content Large content Large content Large content Large content
                  </div>
                </mat-tab>
            
                <mat-tab label="POLITIQUE">
                    <div class="example-large-box mat-elevation-z4">
                      Large content
                    </div>
                </mat-tab>
            
                <mat-tab label="OBJECTIS">
                    <div class="example-large-box mat-elevation-z4">
                      Large content
                    </div>
                </mat-tab>
            </mat-tab-group>
            
                
        </div>
  




