<router-outlet></router-outlet>
<br>
    <mat-card style="background-color: teal; color:aliceblue; text-align:center;">
                
        <mat-card-title>Shiba Inu</mat-card-title>
    
        <mat-card-content>
             TITRE
        </mat-card-content>
    </mat-card>
    <br>
    <br>

        <div id="conteneur">
            
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>
                        <p>Prix HT</p>
                        <p>Prix TTC</p>
                        <p>Prix HT</p>
                    </mat-card-subtitle>
                    <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{longText}}
                    </mat-card-content>
                </mat-card>
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Large</mat-card-subtitle>
                    <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{longText}}
                    </mat-card-content>
                </mat-card>
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Large</mat-card-subtitle>
                    <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{longText}}
                    </mat-card-content>
                </mat-card>
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Large</mat-card-subtitle>
                    <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{longText}}
                    </mat-card-content>
                </mat-card>
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Large</mat-card-subtitle>
                    <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{longText}}
                    </mat-card-content>
                </mat-card>
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Large</mat-card-subtitle>
                    <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{longText}}
                    </mat-card-content>
                </mat-card>
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Large</mat-card-subtitle>
                    <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{longText}}
                    </mat-card-content>
                </mat-card>
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Large</mat-card-subtitle>
                    <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{longText}}
                    </mat-card-content>
                </mat-card>
        </div>
  
